<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: white;">
            <span class="text-warning"><img src="assets/logo/fries.png" class="logo" /></span> Yummy
        </a>
        <form class="d-flex" role="search" (ngSubmit)="onSubmit()">
            <input class="form-control me-2" [(ngModel)]="recipe" type="search" placeholder="Enter the recipe"
                aria-label="Search" name="recipe">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>